.heading
{
    font-size:23px;
    width:100%;
    margin:0px;
    box-shadow:5px 5px 5px crimson;
}

.note
{
    font-size:15px;
    color:orangered;
}

.copyrightfooter
{
position:fixed;
color:azure;
bottom:0;
width:100%;
background-color:goldenrod;
line-height:3;
text-align:center;
font-size:20px ;
}

canvas
{
    border-radius:20px ;
    box-shadow:5px 5px 5px cyan;
    border:5px solid crimson;
    background-color:greenyellow;
}